@import url('https://aleenacodes.github.io/roam-themes/base.css');

/* === Colours === */
:root {
  --background-colour: #333333;
  --edges-colour: #394b59;
  --edges-colour-semi-transparent: rgb(57, 75, 89, 0.2);
  --contrast-colour: #EAEAEA;
  --title-colour: #e573ac;
  --highlight-colour-1: #e6a1cd;
}
