@import url('https://aleenacodes.github.io/roam-themes/base.css');

/* === Colours === */
:root {
  --background-colour: #EFF2F1;
  --edges-colour: #DCDCDC;
  --edges-colour-semi-transparent: rgb(220, 220, 220, 0.2);
  --contrast-colour: #333333;
  --title-colour: #7B2CBF;
  --highlight-colour-1: #BBA0CA;
}
