@import url('https://aleenacodes.github.io/roam-themes/base.css');

/* === Colours === */
:root {
  --background-colour: #333333;
  --edges-colour: #394b59;
  --edges-colour-semi-transparent: rgb(57, 75, 89, 0.2);
  --contrast-colour: #c5c8c6;
  --title-colour: #a5ccd1;
  --highlight-colour-1: #f8bbd0;
}
