@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* Colours */

/*:root {
  --background-1: #333333;
  --grey-1: #c5c8c6;
  --light-pink-1: #fce4ec;
  --light-pink-2: #f8bbd0;
  --dark-pink-1: #c2185b;
  --dark-pink-2: #880e4f;
  --blue-1: #A5CCD1;
}*/

:root {
  --background-colour: #333333;
  --contrast-colour: #D8DBE2;
  --title-colour: #BF1363;
  --highlight-colour-1: #FCD3DE;
  --highlight-colour-2: #FF99C9;
}

/* Full page styling */

.roam-body {
  	background-color: var(--background-colour);
  	/*background-color: white;*/
}

/* === Navigation styling === */

.roam-sidebar-container {
  background-color: var(--background-colour) !important;
  border-right: var(--highlight-colour-1) solid 1px;
  font-family: 'Open-Sans', sans-serif;
}

/* Collapse button  */
.roam-sidebar-container .bp3-button::before {
  color: var(--highlight-colour-1);
}

/* Email */
.roam-sidebar-container button div {
  font-family: 'Open-Sans', sans-serif;
  color: var(--contrast-colour) !important;
}

/* Page titles */
.roam-sidebar-container .log-button {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400 !important;
  color: var(--title-colour) !important;
}

/* Shortcuts title */
.starred-pages-wrapper span {
  font-family: 'Open-Sans', sans-serif;
  color: var(--highlight-colour-1);
}

/* Shortcuts star icon */
.starred-pages-wrapper .bp3-icon-star::before {
  color: var(--highlight-colour-1);
}

/* Starred page */
.starred-pages .page {
  color: var(--title-colour) !important;
}

/* Roam logo */
#roam-sidebar-logo {
	opacity: 0.7;
}

/* === Topbar styling === */

.roam-topbar {
  background-color: var(--background-colour);
  border-bottom: var(--highlight-colour-1) solid 1px;
}

/* Saving icon (saving) */
.rm-saving-remote {
  background-color: var(--highlight-colour-1) !important;
}

/* Saving icon (saved) */
.rm-synced {
  background-color: var(--title-colour) !important;
}

/* Search icon */
.rm-find-or-create-wrapper .bp3-icon-search {
  color: var(--contrast-colour);
}

/* Search input */
#find-or-create-input {
  color: var(--highlight-colour-1);
  background-color: var(--background-colour);
  border: var(--contrast-colour) solid 1px;
}

/* Buttons */
.roam-topbar .bp3-button::before, .roam-topbar .bp3-icon::before {
  color: var(--highlight-colour-1);
}

/* === Main content styling === */

.rm-title-display {
  color: var(--title-colour) !important;
}

/* Popups menus */
.bp3-menu {
  background-color: var(--background-colour);
  border: var(--contrast-colour) solid 1px;
  color: white;
}

.bp3-popover-arrow-fill {
  fill: var(--background-colour) !important;
}

.bp3-popover-arrow-border { /* TODO */
  fill: var(--contrast-colour) solid 1px !important;
}
